@model Dashboard.Models.ActivityModel

@{
    ViewData["Title"] = "Add New";
}

<style>
    form {
        font-size: 20px;
    }

    .modalButton {
        border: 0;
        padding: 5px;
        background-color: lightgrey;
        width: 100%;
        margin: auto;
        margin-bottom: 5px;
    }

    .modalButton:hover {
        background-color: grey;
        color: white;
    }

    .modalText {
        text-align: center;
        margin-bottom: 5px;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-md-6" style="margin: auto;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input type="button" value="Now" class="btn btn-default" style="float:right;" onclick="document.getElementById('DateDate').value = getDate();" />
                    <input asp-for="Date" class="form-control" id="DateDate" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game" class="control-label"></label>
                    <input type="button" value="Games" class="btn btn-default" style="float:right;" data-toggle="modal" data-target="#modalGame" />
                    <input asp-for="Game" class="form-control" id="gameName" />
                    <span asp-validation-for="Game" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Finish" class="control-label"></label>
                    <input type="button" value="Now" class="btn btn-default" style="float:right;" onclick="document.getElementById('FinishDate').value = getDate();" />
                    <input asp-for="Finish" class="form-control" id="FinishDate" />
                    <span asp-validation-for="Finish" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mode" class="control-label"></label>
                    <input type="button" value="Modes" class="btn btn-default" style="float:right;" data-toggle="modal" data-target="#modalMode" />
                    <input asp-for="Mode" class="form-control" id="modeName" />
                    <span asp-validation-for="Mode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <div class="modal fade" id="modalGame" tabindex="-1" role="dialog" aria-labelledby="Games" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalGameTitle">Games</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Dashboard.Helpers.Data.GetGameLast(1) != "")
                    {
                        <h2 class="modalText">Most Recent</h2>
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetGameLast(1)" onclick="setGame('@Dashboard.Helpers.Data.GetGameLast(1)')" data-dismiss="modal" />
                    }

                    @if (Dashboard.Helpers.Data.GetGameLast(2) != "")
                    {
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetGameLast(2)" onclick="setGame('@Dashboard.Helpers.Data.GetGameLast(2)')" data-dismiss="modal" />
                    }

                    @if (Dashboard.Helpers.Data.GetGameLast(3) != "")
                    {
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetGameLast(3)" onclic="setGame('@Dashboard.Helpers.Data.GetGameLast(3)')" data-dismiss="modal" />
                    }
                    @if (Dashboard.Helpers.Data.GetGameLast(1) != "")
                    {
                        <hr />
                    }
                    @{
                        var gameList = Dashboard.Helpers.Data.GetGames();
                    }

                    @for (int i = 0; i < gameList.Count; i++)
                    {
                        <input type="button" class="modalButton" value="@gameList.ElementAt(i)" onclick="setGame('@gameList.ElementAt(i)')" data-dismiss="modal" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMode" tabindex="-1" role="dialog" aria-labelledby="Modes" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalGameTitle">Modes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Dashboard.Helpers.Data.GetModeLast(1) != "")
                    {
                        <h2 class="modalText">Most Recent</h2>
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetModeLast(1)" onclick="setMode('@Dashboard.Helpers.Data.GetModeLast(1)')" data-dismiss="modal" />
                    }

                    @if (Dashboard.Helpers.Data.GetModeLast(2) != "")
                    {
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetModeLast(2)" onclick="setMode('@Dashboard.Helpers.Data.GetModeLast(2)')" data-dismiss="modal" />
                    }

                    @if (Dashboard.Helpers.Data.GetModeLast(3) != "")
                    {
                        <input type="button" class="modalButton" value="@Dashboard.Helpers.Data.GetModeLast(3)" onclic="setMode('@Dashboard.Helpers.Data.GetModeLast(3)')" data-dismiss="modal" />
                    }
                    @if (Dashboard.Helpers.Data.GetModeLast(1) != "")
                    {
                        <hr />
                    }
                    @{
                        var modeList = Dashboard.Helpers.Data.GetModes();
                    }

                    @for (int i = 0; i < modeList.Count; i++)
                    {
                        <input type="button" class="modalButton" value="@modeList.ElementAt(i)" onclick="setMode('@modeList.ElementAt(i)')" data-dismiss="modal" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function getDate() {
        var today = new Date();
        var date = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var hour = today.getHours();
        var minute = today.getMinutes();
        if (date < 10) {
            date = '0' + date;
        }
        if (month < 10) {
            month = '0' + month;
        }
        if (hour < 10) {
            hour = '0' + hour;
        }
        if (minute < 10) {
            minute = '0' + minute;
        }
        return year + "-" + month + "-" + date + "T" + hour + ":" + minute;
    }
</script>