@model Dashboard.Models.ActivityModel

@{
    ViewData["Title"] = "Delete";
}

<style>
    th {
        background-color: gray;
        color: white;
        padding: 0px 10px;
    }

    td {
        padding: 0px 10px;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-md-12" style="margin: auto;">
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Date)</td>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Game)</td>
                    <td>@Html.DisplayFor(model => model.Game)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Finish)</td>
                    <td>@Html.DisplayFor(model => model.Finish)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Mode)</td>
                    <td>@Html.DisplayFor(model => model.Mode)</td>
                </tr>
            </table>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}