
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dashboard.Models.BacklogModel BacklogEntry = (Dashboard.Models.BacklogModel)TempData["Backlog"];
}

<style>
    th {
        background-color: gray;
        color: white;
        padding: 0px 10px;
        font-size: 18px;
    }

    tfoot th {
        background-color: #969696;
        color: white;
        padding: 0px 10px;
        font-size: 16px;
    }

    td {
        padding: 0px 10px;
        font-size: 16px;
    }

    table {
        width: 100%;
        margin-top: 10px;
    }

    form {
        font-size: 20px;
    }

    .textbox {
        border: solid 1px black;
        margin-top: 5px;
        padding: 0px 5px;
        width: 100%;
    }

    .padding-btn {
        padding: 5px 10px;
        margin: 0px 5px;
    }

    .btn-100 {
        width: 100%;
    }

    .tooltip {
        font-size: 16px;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <br />
                        <a class="btn btn-primary" href="/Backlog/Index">Back</a>
                        <a class="btn btn-danger float-right" style="color: white;" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    </div>
                    <hr />
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Error"].ToString()
                        </div>
                    }
                    else
                    {
                        <h1 class="float-left">Edit</h1>
                        <form action="/Backlog/Edit" method="post">
                            <input type="hidden" id="StatusVal" value="@BacklogEntry.Status" />
                            <input type="hidden" id="NowPlayingVal" value="@BacklogEntry.NowPlaying" />
                            <input type="hidden" name="Id" value="@BacklogEntry.Id" />
                            <input type="text" class="textbox" name="Name" placeholder="Name*" value="@BacklogEntry.Name" />
                            <input type="text" class="textbox" name="System" placeholder="System*" value="@BacklogEntry.System" />
                            <select class="textbox" name="Status" id="Status">
                                <option value="@((int)BacklogModel.STATUS.UNPLAYED)">Unplayed</option>
                                <option value="@((int)BacklogModel.STATUS.UNFINISHED)">Unfinished</option>
                                <option value="@((int)BacklogModel.STATUS.BEAT)">Beat</option>
                                <option value="@((int)BacklogModel.STATUS.COMPLETED)">Completed</option>
                            </select>
                            <input type="text" class="textbox" name="Progress" placeholder="Progress Note" value="@BacklogEntry.Progress" />
                            <label><input type="checkbox" name="NowPlaying" value="true" id="NowPlaying" />Now Playing</label>
                            <input type="submit" class="btn btn-primary padding-btn btn-100" value="Edit" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Error"] == null)
{
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete this game?<br />
                    <a class="btn btn-secondary" style="color: white;" data-dismiss="modal">No</a>
                    <a class="btn btn-danger" style="color: white;" href="/Backlog/Delete/@BacklogEntry.Id">Yes</a>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var index = document.getElementById("StatusVal").value;
    document.getElementById("Status").selectedIndex = parseInt(index);

    var np = document.getElementById("NowPlayingVal").value;

    if (parseInt(np) != 0) {
        document.getElementById("NowPlaying").checked = true;
    } else {
        document.getElementById("NowPlaying").checked = false;
    }
</script>