
@{
    ViewData["Title"] = "Reset";
    Layout = "~/Views/Shared/_LayoutNoAuth.cshtml";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1>Reset Password</h1>
                    <form method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="User Name" value="@TempData["username"].ToString()" disabled />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="@TempData["email"].ToString()" disabled />
                        </div>
                        <hr />

                        @{
                            var questions = Dashboard.Helpers.SecurityQuestion.GetQuestions();
                            var userid = Dashboard.Helpers.Account.GetUserId(TempData["username"].ToString());
                        }
                        <div class="form-group">
                            <label>@Dashboard.Helpers.SecurityQuestion.GetUserSecurityQuestion(userid, 1)</label>
                            <input type="text" class="form-control" name="answer1" />
                        </div>
                        <div class="form-group">
                            <label>@Dashboard.Helpers.SecurityQuestion.GetUserSecurityQuestion(userid, 2)</label>
                            <input type="text" class="form-control" name="answer2" />
                        </div>
                        <div class="form-group">
                            <label>@Dashboard.Helpers.SecurityQuestion.GetUserSecurityQuestion(userid, 3)</label>
                            <input type="text" class="form-control" name="answer3" />
                        </div>
                        <div class="form-check">
                            <button type="submit" class="btn btn-primary">Reset</button>
                            <a type="button" class="btn btn-secondary" href="/Account/Login">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  