@model Dashboard.Models.PlaytimeModel

@{
    ViewData["Title"] = "Details";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Date)</td>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Game)</td>
                    <td>@Html.DisplayFor(model => model.Game)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Finish)</td>
                    <td>@Html.DisplayFor(model => model.Finish)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Mode)</td>
                    <td>@Html.DisplayFor(model => model.Mode)</td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
