@model IEnumerable<Dashboard.Models.PlaytimeModel>

@{
    ViewData["Title"] = "Last 24 Hours";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Game)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Finish)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mode)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var records = Model
                                    .Where(ptm => ptm.Date.Date >= DateTime.Now.AddHours(-24))
                                    .OrderBy(ptm => ptm.Date)
                                    .ToList();
                            }
                            @foreach (var item in records)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Game)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Finish)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mode)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>