@model IEnumerable<Dashboard.Models.TestingModel>

@{
    ViewData["Title"] = "Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testing</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestAge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestAge)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.TestId })
            </td>
        </tr>
}
    </tbody>
</table>
