
@{
    ViewData["Title"] = "Search Results";
}

<style>
    form {
        font-size: 20px;
    }

    .textbox {
        border: solid 1px black;
        margin-top: 5px;
        padding: 0px 5px;
    }

    .padding-btn {
        padding: 5px 10px;
        margin-top: 5px;
    }

    .next-to-image {
        margin-left: 10px;
    }

    .boxart {
        margin-right: 10px;
    }

    .score {
        font-size: 20px;
        background-color: grey;
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
        color: white;
    }

    .score-title {
        font-size: 20px;
        margin-right: 5px;
    }

    .green {
        background-color: green;
        color: white;
    }

    .amber {
        background-color: orange;
        color: black;
    }

    .red {
        background-color: red;
        color: white;
    }
</style>

@{
    var platform = TempData["Platform"].ToString();
    var game = TempData["game"].ToString();

    var Info = Dashboard.Helpers.Info.QueryGameInfo(platform, game);

    int Metascore;
    double Userscore, Yourscore;

    try
    {
        Metascore = int.Parse(Info.Metascore);
        Userscore = double.Parse(Info.UserScore) * 10;
        Yourscore = Dashboard.Helpers.Games.GetRating(int.Parse(TempData["id"].ToString()));
    }
    catch
    {
        Metascore = 0;
        Userscore = 0.0;
        Yourscore = 0.0;
    }
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-md-12" style="margin: auto;">
            <div>
                <br />
                <a class="btn btn-primary" href="/Info/Index">Back to search</a>
                <a class="btn btn-secondary" style="color: white;" data-toggle="modal" data-target="#rateModal">Rate Game</a>
            </div>
            @if (Info.Error != null)
            {
                <br />
                <div class="alert alert-danger">
                    @Info.Error
                </div>
            }
            else
            {
                <div class="float-left">
                    <br />
                    <img class="boxart" src="@Info.BoxArt" />
                </div>
                <div class="next-to-image">
                    <br />
                    <h1>@Info.Title</h1>
                    <p>@Info.Platform | Release Date @Info.ReleaseDate</p>
                    <p>@Info.Summary</p>
                </div>
                <div>
                    <br />
                    <span class="score-title">Metacritic Score</span>

                    @if (Metascore >= 75)
                    {
                        <span class="score green">@Metascore</span>
                    }
                    else if (Metascore < 75 && Metascore >= 50)
                    {
                        <span class="score amber">@Metascore</span>
                    }
                    else if (Metascore < 50 && Metascore > 0)
                    {
                        <span class="score red">@Metascore</span>
                    }
                    else
                    {
                        <span class="score">N/A</span>
                    }

                    <span class="score-title">User Score</span>

                    @if (Userscore >= 75)
                    {
                        <span class="score green">@Userscore</span>
                    }
                    else if (Userscore < 75 && Userscore >= 50)
                    {
                        <span class="score amber">@Userscore</span>
                    }
                    else if (Userscore < 50 && Userscore > 0)
                    {
                        <span class="score red">@Userscore</span>
                    }
                    else
                    {
                        <span class="score">N/A</span>
                    }

                    <span class="score-title">Your Score</span>

                    @if (Yourscore >= 75)
                    {
                        <span class="score green">@Yourscore</span>
                    }
                    else if (Yourscore < 75 && Yourscore >= 50)
                    {
                        <span class="score amber">@Yourscore</span>
                    }
                    else if (Yourscore < 50 && Yourscore > 0)
                    {
                        <span class="score red">@Yourscore</span>
                    }
                    else
                    {
                        <span class="score">N/A</span>
                    }
                </div>
            }
            <hr />
            @if (int.Parse(TempData["id"].ToString()) > 0)
            {
                int GameID = int.Parse(TempData["id"].ToString());

                <h1>Activity</h1>
                <canvas id="gameChart"></canvas>

                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(0), GameID)" id="activity_1" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-1), GameID)" id="activity_2" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-2), GameID)" id="activity_3" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-3), GameID)" id="activity_4" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-4), GameID)" id="activity_5" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-5), GameID)" id="activity_6" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-6), GameID)" id="activity_7" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-7), GameID)" id="activity_8" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-8), GameID)" id="activity_9" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-9), GameID)" id="activity_10" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-10), GameID)" id="activity_11" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-11), GameID)" id="activity_12" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-12), GameID)" id="activity_13" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-13), GameID)" id="activity_14" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-14), GameID)" id="activity_15" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-15), GameID)" id="activity_16" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-16), GameID)" id="activity_17" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-17), GameID)" id="activity_18" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-18), GameID)" id="activity_19" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-19), GameID)" id="activity_20" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-20), GameID)" id="activity_21" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-21), GameID)" id="activity_22" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-22), GameID)" id="activity_23" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-23), GameID)" id="activity_24" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-24), GameID)" id="activity_25" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-25), GameID)" id="activity_26" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-26), GameID)" id="activity_27" />
                <input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeGame(DateTime.Now.AddDays(-27), GameID)" id="activity_28" />

                <input type="hidden" value="@DateTime.Now.AddDays(0).ToString("dd/MM/yyyy")" id="activity_1l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")" id="activity_2l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")" id="activity_3l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")" id="activity_4l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-4).ToString("dd/MM/yyyy")" id="activity_5l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy")" id="activity_6l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-6).ToString("dd/MM/yyyy")" id="activity_7l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" id="activity_8l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-8).ToString("dd/MM/yyyy")" id="activity_9l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-9).ToString("dd/MM/yyyy")" id="activity_10l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-10).ToString("dd/MM/yyyy")" id="activity_11l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-11).ToString("dd/MM/yyyy")" id="activity_12l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-12).ToString("dd/MM/yyyy")" id="activity_13l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-13).ToString("dd/MM/yyyy")" id="activity_14l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-14).ToString("dd/MM/yyyy")" id="activity_15l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-15).ToString("dd/MM/yyyy")" id="activity_16l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-16).ToString("dd/MM/yyyy")" id="activity_17l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-17).ToString("dd/MM/yyyy")" id="activity_18l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-18).ToString("dd/MM/yyyy")" id="activity_19l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-19).ToString("dd/MM/yyyy")" id="activity_20l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-20).ToString("dd/MM/yyyy")" id="activity_21l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-21).ToString("dd/MM/yyyy")" id="activity_22l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-22).ToString("dd/MM/yyyy")" id="activity_23l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-23).ToString("dd/MM/yyyy")" id="activity_24l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-24).ToString("dd/MM/yyyy")" id="activity_25l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-25).ToString("dd/MM/yyyy")" id="activity_26l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-26).ToString("dd/MM/yyyy")" id="activity_27l" />
                <input type="hidden" value="@DateTime.Now.AddDays(-27).ToString("dd/MM/yyyy")" id="activity_28l" />
            }
        </div>
    </div>
</div>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rate Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Info/Rate" method="post">
                    <input type="hidden" name="gameID" value="@int.Parse(TempData["id"].ToString())" />
                    <input type="number" name="score" placeholder="85" />
                    <input type="submit" class="btn btn-primary" value="Rate" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="~/js/InfoSearch.js"></script>