@model IEnumerable<Dashboard.Models.ActivityModel>

@{
    ViewData["Title"] = "Time Budget";
}

<!-- Hours Today Chart Data -->
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(0), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d1" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-1), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d2" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-2), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d3" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-3), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d4" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-4), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d5" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-5), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d6" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-6), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d7" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-7), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d8" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-8), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d9" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-9), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d10" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-10), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d11" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-11), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d12" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-12), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d13" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-13), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d14" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-14), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d15" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-15), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d16" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-16), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d17" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-17), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d18" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-18), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d19" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-19), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d20" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-20), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d21" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-21), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d22" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-22), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d23" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeHour(DateTime.Now.AddHours(-23), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_d24" />

<!-- Hours Today Chart Labels -->
<input type="hidden" value="@DateTime.Now.AddHours(0).ToString("HH:00")" id="activity_d1l" />
<input type="hidden" value="@DateTime.Now.AddHours(-1).ToString("HH:00")" id="activity_d2l" />
<input type="hidden" value="@DateTime.Now.AddHours(-2).ToString("HH:00")" id="activity_d3l" />
<input type="hidden" value="@DateTime.Now.AddHours(-3).ToString("HH:00")" id="activity_d4l" />
<input type="hidden" value="@DateTime.Now.AddHours(-4).ToString("HH:00")" id="activity_d5l" />
<input type="hidden" value="@DateTime.Now.AddHours(-5).ToString("HH:00")" id="activity_d6l" />
<input type="hidden" value="@DateTime.Now.AddHours(-6).ToString("HH:00")" id="activity_d7l" />
<input type="hidden" value="@DateTime.Now.AddHours(-7).ToString("HH:00")" id="activity_d8l" />
<input type="hidden" value="@DateTime.Now.AddHours(-8).ToString("HH:00")" id="activity_d9l" />
<input type="hidden" value="@DateTime.Now.AddHours(-9).ToString("HH:00")" id="activity_d10l" />
<input type="hidden" value="@DateTime.Now.AddHours(-10).ToString("HH:00")" id="activity_d11l" />
<input type="hidden" value="@DateTime.Now.AddHours(-11).ToString("HH:00")" id="activity_d12l" />
<input type="hidden" value="@DateTime.Now.AddHours(-12).ToString("HH:00")" id="activity_d13l" />
<input type="hidden" value="@DateTime.Now.AddHours(-13).ToString("HH:00")" id="activity_d14l" />
<input type="hidden" value="@DateTime.Now.AddHours(-14).ToString("HH:00")" id="activity_d15l" />
<input type="hidden" value="@DateTime.Now.AddHours(-15).ToString("HH:00")" id="activity_d16l" />
<input type="hidden" value="@DateTime.Now.AddHours(-16).ToString("HH:00")" id="activity_d17l" />
<input type="hidden" value="@DateTime.Now.AddHours(-17).ToString("HH:00")" id="activity_d18l" />
<input type="hidden" value="@DateTime.Now.AddHours(-18).ToString("HH:00")" id="activity_d19l" />
<input type="hidden" value="@DateTime.Now.AddHours(-19).ToString("HH:00")" id="activity_d20l" />
<input type="hidden" value="@DateTime.Now.AddHours(-20).ToString("HH:00")" id="activity_d21l" />
<input type="hidden" value="@DateTime.Now.AddHours(-21).ToString("HH:00")" id="activity_d22l" />
<input type="hidden" value="@DateTime.Now.AddHours(-22).ToString("HH:00")" id="activity_d23l" />
<input type="hidden" value="@DateTime.Now.AddHours(-23).ToString("HH:00")" id="activity_d24l" />

<!-- Hours Week Chart Data -->
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(0), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w1" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-1), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w2" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-2), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w3" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-3), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w4" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-4), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w5" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-5), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w6" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-6), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_w7" />

<!-- Hours Week Chart Labels -->
<input type="hidden" value="@DateTime.Now.AddDays(0).ToString("dd/MM/yyyy")" id="activity_w1l" />
<input type="hidden" value="@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")" id="activity_w2l" />
<input type="hidden" value="@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")" id="activity_w3l" />
<input type="hidden" value="@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")" id="activity_w4l" />
<input type="hidden" value="@DateTime.Now.AddDays(-4).ToString("dd/MM/yyyy")" id="activity_w5l" />
<input type="hidden" value="@DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy")" id="activity_w6l" />
<input type="hidden" value="@DateTime.Now.AddDays(-6).ToString("dd/MM/yyyy")" id="activity_w7l" />

<!-- Hours Month Chart Data -->
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(0), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m1" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-1), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m2" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-2), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m3" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-3), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m4" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-4), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m5" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-5), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m6" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-6), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m7" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-7), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m8" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-8), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m9" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-9), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m10" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-10), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m11" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-11), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m12" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-12), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m13" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-13), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m14" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-14), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m15" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-15), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m16" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-16), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m17" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-17), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m18" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-18), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m19" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-19), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m20" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-20), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m21" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-21), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m22" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-22), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m23" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-23), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m24" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-24), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m25" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-25), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m26" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-26), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m27" />
<input type="hidden" value="@Dashboard.Helpers.Data.GetGameTimeDay(DateTime.Now.AddDays(-27), Dashboard.Helpers.Account.GetUserId(User.Identity.Name))" id="activity_m28" />

<!-- Hours Month Chart Labels -->
<input type="hidden" value="@DateTime.Now.AddDays(0).ToString("dd/MM/yyyy")" id="activity_m1l" />
<input type="hidden" value="@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")" id="activity_m2l" />
<input type="hidden" value="@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")" id="activity_m3l" />
<input type="hidden" value="@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")" id="activity_m4l" />
<input type="hidden" value="@DateTime.Now.AddDays(-4).ToString("dd/MM/yyyy")" id="activity_m5l" />
<input type="hidden" value="@DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy")" id="activity_m6l" />
<input type="hidden" value="@DateTime.Now.AddDays(-6).ToString("dd/MM/yyyy")" id="activity_m7l" />
<input type="hidden" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" id="activity_m8l" />
<input type="hidden" value="@DateTime.Now.AddDays(-8).ToString("dd/MM/yyyy")" id="activity_m9l" />
<input type="hidden" value="@DateTime.Now.AddDays(-9).ToString("dd/MM/yyyy")" id="activity_m10l" />
<input type="hidden" value="@DateTime.Now.AddDays(-10).ToString("dd/MM/yyyy")" id="activity_m11l" />
<input type="hidden" value="@DateTime.Now.AddDays(-11).ToString("dd/MM/yyyy")" id="activity_m12l" />
<input type="hidden" value="@DateTime.Now.AddDays(-12).ToString("dd/MM/yyyy")" id="activity_m13l" />
<input type="hidden" value="@DateTime.Now.AddDays(-13).ToString("dd/MM/yyyy")" id="activity_m14l" />
<input type="hidden" value="@DateTime.Now.AddDays(-14).ToString("dd/MM/yyyy")" id="activity_m15l" />
<input type="hidden" value="@DateTime.Now.AddDays(-15).ToString("dd/MM/yyyy")" id="activity_m16l" />
<input type="hidden" value="@DateTime.Now.AddDays(-16).ToString("dd/MM/yyyy")" id="activity_m17l" />
<input type="hidden" value="@DateTime.Now.AddDays(-17).ToString("dd/MM/yyyy")" id="activity_m18l" />
<input type="hidden" value="@DateTime.Now.AddDays(-18).ToString("dd/MM/yyyy")" id="activity_m19l" />
<input type="hidden" value="@DateTime.Now.AddDays(-19).ToString("dd/MM/yyyy")" id="activity_m20l" />
<input type="hidden" value="@DateTime.Now.AddDays(-20).ToString("dd/MM/yyyy")" id="activity_m21l" />
<input type="hidden" value="@DateTime.Now.AddDays(-21).ToString("dd/MM/yyyy")" id="activity_m22l" />
<input type="hidden" value="@DateTime.Now.AddDays(-22).ToString("dd/MM/yyyy")" id="activity_m23l" />
<input type="hidden" value="@DateTime.Now.AddDays(-23).ToString("dd/MM/yyyy")" id="activity_m24l" />
<input type="hidden" value="@DateTime.Now.AddDays(-24).ToString("dd/MM/yyyy")" id="activity_m25l" />
<input type="hidden" value="@DateTime.Now.AddDays(-25).ToString("dd/MM/yyyy")" id="activity_m26l" />
<input type="hidden" value="@DateTime.Now.AddDays(-26).ToString("dd/MM/yyyy")" id="activity_m27l" />
<input type="hidden" value="@DateTime.Now.AddDays(-27).ToString("dd/MM/yyyy")" id="activity_m28l" />

<!-- page title area end -->
<div class="main-content-inner">
    <!-- sales report area start -->
    <div class="sales-report-area mt-5 mb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="single-report mb-xs-30">
                    <div class="s-report-inner pr--20 pt--30 mb-3">
                        <div class="icon"><i class="ti-time"></i></div>
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Last 24 Hours</h4>
                            <p>@Dashboard.Helpers.Data.GetPlayTimeLast24H(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</p>
                        </div>
                    </div>
                    <div style="min-height:100px;max-height:100px;">
                        @if (Dashboard.Helpers.Data.Any24H(Dashboard.Helpers.Account.GetUserId(User.Identity.Name)))
                        {
                            <canvas id="hours_today" height="100"></canvas>
                        }
                        else
                        {
                            <div class="card" style="height: 100px;">
                                <div class="card-body" style="text-align:center;">
                                    <i class="ti-bar-chart" style="font-size:50px;"></i><br />
                                    Nothing here
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-report mb-xs-30">
                    <div class="s-report-inner pr--20 pt--30 mb-3">
                        <div class="icon"><i class="ti-time"></i></div>
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Last 7 Days</h4>
                            <p>@Dashboard.Helpers.Data.GetPlayTimeLast7D(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</p>
                        </div>
                    </div>
                    <div style="min-height:100px;max-height:100px;">
                        @if (Dashboard.Helpers.Data.Any7D(Dashboard.Helpers.Account.GetUserId(User.Identity.Name)))
                        {
                            <canvas id="hours_week" height="100"></canvas>
                        }
                        else
                        {
                            <div class="card" style="height: 100px;">
                                <div class="card-body" style="text-align:center;">
                                    <i class="ti-bar-chart" style="font-size:50px;"></i><br />
                                    Nothing here
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-report">
                    <div class="s-report-inner pr--20 pt--30 mb-3">
                        <div class="icon"><i class="ti-time"></i></div>
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0">Last 28 Days</h4>
                            <p>@Dashboard.Helpers.Data.GetPlayTimeLast28D(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</p>
                        </div>

                    </div>
                    <div style="min-height:100px;max-height:100px;">
                        @if (Dashboard.Helpers.Data.Any28D(Dashboard.Helpers.Account.GetUserId(User.Identity.Name)))
                        {
                            <canvas id="hours_month" height="100"></canvas>
                        }
                        else
                        {
                            <div class="card" style="height: 100px;">
                                <div class="card-body" style="text-align:center;">
                                    <i class="ti-bar-chart" style="font-size:50px;"></i><br />
                                    Nothing here
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sales report area end -->
    <!-- overview area start -->
    <div class="row">
        <div class="col-lg-12">
            <div class="single-report">
                <h1>Last 24 Hours</h1>
                <span>Since @DateTime.Now.AddHours(-24)</span><br />
                <span style="margin-right:50px;">Budget: @Dashboard.Helpers.BudgetToday.GetBudgetAmountFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</span>
                <span style="margin-right:50px;">Used: @Dashboard.Helpers.BudgetToday.GetUsedAmountFormatted()</span>
                <span style="margin-right:20px;">Left: @Dashboard.Helpers.BudgetToday.GetLeftAmountFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</span>
                <span>(@Dashboard.Helpers.BudgetToday.GetPercentageFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name)))</span>
                <br />
                <div class="progress" style="height: 20px">
                    <div class="progress-bar" role="progressbar" style="width: @Dashboard.Helpers.BudgetToday.GetPercentage(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))%"></div>
                </div>
                <hr />
                <h1>Last 28 Days</h1>
                <span>Since @DateTime.Now.AddDays(-28)</span><br />
                <span style="margin-right:50px;">Budget: @Dashboard.Helpers.Budget.GetBudgetAmountFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</span>
                <span style="margin-right:50px;">Used: @Dashboard.Helpers.Budget.GetUsedAmountFormatted()</span>
                <span style="margin-right:20px;">Left: @Dashboard.Helpers.Budget.GetLeftAmountFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))</span>
                <span>(@Dashboard.Helpers.Budget.GetPercentageFormatted(Dashboard.Helpers.Account.GetUserId(User.Identity.Name)))</span>
                <br />
                <div class="progress" style="height: 20px">
                    <div class="progress-bar" role="progressbar" style="width: @Dashboard.Helpers.Budget.GetPercentage(Dashboard.Helpers.Account.GetUserId(User.Identity.Name))%"></div>
                </div>
            </div>
            <a href="@Url.Action("SetBudget", "Insight")"><input type="button" value="Set Budget" class="btn" style="font-size:16px;padding:10px;margin-top:10px;color:black;" /></a>
        </div>
    </div>
    <!-- overview area end -->
    <!-- market value area start -->
</div>
<!-- page container area end -->
<!-- offset area end -->
<!-- jquery latest version -->
<script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.min.js"></script>
<script src="~/assets/js/jquery.slicknav.min.js"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
@*<script src="~/assets/js/line-chart.js"></script>*@
<!-- all pie chart -->
@*<script src="~/assets/js/pie-chart.js"></script>*@
<!-- others plugins -->
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/scripts.js"></script>

<script src="~/js/home.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="~/js/ChartToday.js"></script>
<script src="~/js/ChartWeek.js"></script>
<script src="~/js/ChartMonth.js"></script>
<script src="~/js/ChartPie.js"></script>